HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

######################
# Netbeans
######################
/nbproject/
/nbbuild/
/dist/
/nbdist/
build/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/
nbactions.xml
nb-configuration.xml

######################
# IntelliJ
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# Eclipse
######################
.apt_generated
.springBeans
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath
/src/main/resources/rebel.xml

######################
# Visual Studio Code
######################
.vscode/

######################
# Maven
######################
/log/
/target/

######################
# Gradle
######################
.gradle/
/build/


######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini